.Adname{
	font-size:20px;
	margin-top:20px;
	text-align:center;
}

#news{
	color:red;
}

.header{
	border:solid 1px black;
}
.Adlogin{
	margin-left:40px;
}



h1{
	text-align:center;
}

h1.touroku{
	color:red;
	text-shadow: 3px 4px 3px #A4C6FF;
}
#t_btn{
	text-align:right;
}

button.touroku{
	width:150px;
	height:80px;
	font-size:25px;
	margin-right:50px;
	border:solid 1px black;
	background-color:white;
}

table{
	margin-left:auto;
	margin-right:auto;
	
	
}

td{
	font-size:30px;

}

button.login{
	text-align:center;
}

#loginbtn{
	text-align:center;
	margin-top:20px;
}

button.login{
	height:80px;
	width:150px;
	font-size:25px;
	border:solid 1px black;
	background-color:white;
}
.Adtouroku{
	margin-right:50px;
	margin-left:50px;
}

select{
	width:145px;
	height:35px;
}

input.back{
    font-size:25px;
	margin-left:400px;
}


input.kettei{
	font-size:25px;
	margin-left:550px;
}

input.mvt{
	margin-left:400px;
	height:200px;
	width:300px;
	font-size:60px;
	border-radius:15px;
	background-color:#99CCFF;
	text-shadow: -4px -4px 1px white;

	
}

input.mvy{
	margin-left:20px;
	height:200px;
	width:300px;
	font-size:60px;
	border-radius:15px;
	background-color:#99CCFF;
	text-shadow: -4px -4px 1px white;


}

input.mvk{
    margin-top:10px;
	margin-left:450px;
	height:200px;
	width:300px;
	font-size:60px;
	border-radius:15px;
	background-color:#99CCFF;
	text-shadow: -4px -4px 1px white;

}

input.mvs{
	margin-left:20px;
	height:200px;
	width:300px;
	font-size:60px;
	border-radius:15px;
    background-color:#99CCFF;
    text-shadow: -4px -4px 1px white;
}

